<h1>New Appearance</h1>
<%= form_for @appearance do |f| %>
  <%= f.label :episode %>
  <%= collection_select(:appearance, :episode_id, Episode.all, :id, :number) %>
  <br>
  <%= f.label :guest %>
  <%= collection_select(:appearance, :guest_id, Guest.all, :id, :name) %>
  <br>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <br>
  <%= f.submit %>
<% end %>
