<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "  Episodes  ", episodes_path %>
      <%= link_to "  Guests  ", guests_path %>
      <%= link_to "  Logout  ", sessions_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
